---
title: Blog
layout: 'base.njk'
---

       
<div class="section container">
<h1 class="article-title"><center>RESEARCH</center></h1>

<h1 class="section-title">
    <center> 
        <br>
        COMING SOON!
    </center> 
</h1>

<h1 class="social-title">
    <center> 
        <br>
        Interested in doing research with us?
        <br>
        Contact us!   
        <br>
         <br>
         <br>
    </center> 
</h1>
